pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port


/target
*.bat
/*.bat
.project
.classpath
/.settings

.settings
.project
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
.idea
**/.idea
*.iml
**/bin
**/.DS_Store
.DS_Store

**/tree.txt
.idea/
.classpath/
.eclipse/
.project/
.settings/
.DS_Store
target/
